@import "tailwindcss";

@theme {
  /* Font */
  --font-sans: Prompt, ui-sans-serif, system-ui, sans-serif;

  /* Purple Shades */
  --color-purple-50:  #847CE0;
  --color-purple-100: #643FC9;
  --color-purple-200: #381D7F;
  --color-purple-300: #ACA7E9;

  /* Pink Shades */
  --color-pink-50:   #F0B7FC;
  --color-pink-100:  #E66AFF;

  /* Base Colors */
  --color-black:     #282424;
  --color-white:     #ffffff;
}

body {
  font-family: var(--font-sans);
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  background-color: var(--color-white);
}

@layer utilities {
  .scrollbar-custom::-webkit-scrollbar {
    width: 7px;
    height: 2px;
  }

  .scrollbar-custom::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #643FC9;
    border-radius: 9999px;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background-color: #381D7F;
  }
}
